<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid p-0">

            <div class="logo">
                <a href="/home" class="logo">
                    <img src="/public/assets/images/logo5.svg" alt="" class="logo-small">
                    <img src="/public/assets/images/logo5.svg" alt="hvh" class="logo-large" height="50" width="80">
                </a>
            </div>

            <div class="menu-extras topbar-custom">
                <ul class="navbar-right list-inline float-right mb-0 ">
                    <!-- notification -->
                    <li class="dropdown notification-list list-inline-item km-container">
                        <h3 class="text-primary">189,105 Km</h3>
                        <span class="small text-primary"
                            style="position: absolute; margin-top: -10px; width: 110%;">Transport in last 24
                            hrs
                        </span>
                    </li>
                    <li class="dropdown notification-list list-inline-item">
                        <div class="dropdown notification-list nav-pro-img">
                            <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#"
                                role="button" aria-haspopup="false" aria-expanded="false">
                                <button type="button"
                                    class="btn btn-primary p-2 pl-3 pr-3">Login <i
                                        class="ti-user"></i> </button>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown bg-dark">
                                <!-- <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5"></i>
                                    Profile</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5"></i> My Wallet</a>
                                <a class="dropdown-item d-block" href="#"><span
                                        class="badge badge-success float-right">11</span><i
                                        class="mdi mdi-settings m-r-5"></i> Settings</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5"></i> Lock
                                    screen</a>
                                <div class="dropdown-divider"></div> -->
                                <a class="dropdown-item text-primary bg-dark" href="/login"><i
                                        class="mdi mdi-power text-primary"></i> Logout</a>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item list-inline-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle nav-link">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
               
                <!-- Menu Start -->
                <ul class="navigation-menu">
                    <li class="has-submenu">
                        <a href="/home"><i class="ti-home"></i>Home</a>
                    </li>
                    
                    <li class="has-submenu">
                        <a href="/how-it-work"><i class="ti-pencil"></i>How It Works</a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li><a href="/about">About</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" ><i class="ti-package"></i>Get A Quote</a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li><a href="/get-a-quote/cars">Cars Transport</a></li>
                                    <li><a href="/get-a-quote/bike">Bikes Transport</a></li>
                                    <li><a href="/get-a-quote/furniture">Furniture Transport</a></li>
                                    <li><a href="/get-a-quote/boat">Boat Transport</a></li>
                                    <li><a href="/get-a-quote/home">Home Transport</a></li>
                                    <li><a href="/get-a-quote/pallets">Pallets Transport</a></li>

                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><a href="/get-a-quote/waste">Waste Transport</a></li>
                                    <li><a href="/get-a-quote/trucks">Trucks Transport</a></li>
                                    <li><a href="/get-a-quote/other-vehicle">other vehicles Transport</a></li>
                                    <li><a href="/get-a-quote/container">Container Transport</a></li>
                                    <li><a href="/get-a-quote/houlage">Houlage Transport</a></li>
                                    <li><a href="/get-a-quote/livestock">Pets & Livestock Transport</a></li>

                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><a href="/get-a-quote/heavy">Heavy Transport</a></li>
                                    <li><a href="/get-a-quote/agriculture">Agriculture Transport</a></li>
                                    <li><a href="/get-a-quote/mining-machine">Machine Transport</a></li>
                                    <li><a href="/get-a-quote/automotive">Automaotive Transport</a></li>
                                    <li><a href="/get-a-quote/refrigrated">Refrigrated Transport</a></li>
                                    <li><a href="/get-a-quote/other-general">other Generals </a></li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="/jobs"><i class="ti-desktop"></i>Jobs</a>
                    </li>
                   
                </ul>
                <!-- menu end -->

            </div>
            
        </div>
    </div>
</header>
