   <!-- ========== Left Sidebar Start ========== -->
   <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Main</li>
                <li>
                    <a href="configuration" class="waves-effect">
                        <i class="ti-home"></i> <span> Configuration </span>
                    </a>
                </li>
                <li>
                    <a href="category-mapping" class="waves-effect"><i class="ti-list"></i><span> Category Mapping </span></a>
                </li>

                <li>
                    <a href="item-control" class="waves-effect"><i class="ti-settings"></i><span> Item Control </span></a>
                </li>

                <li>
                    <a href="synchronization" class="waves-effect"><i class="ti-reload"></i><span> Synchronization </span></a>
                </li> 
            </ul>

        </div>
    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->